WORKER_SERVER_URL=https://images.xedoc.ru
WORKER_SECRET=change_me
COMFYUI_URL=http://127.0.0.1:8188
WORKER_NAME=home-4070ti
WORKER_CONCURRENCY=1
COMFYUI_WORKFLOW_ROOT=C:\Projects\images.xedoc.ru\workflows
