NODE_ENV=development
APP_URL=http://localhost:3025
PORT=3025
DATABASE_URL=postgresql://images_user:password@localhost:5432/images_xedoc
REDIS_URL=redis://localhost:6379
JWT_SECRET=change_me
REGISTRATION_ENABLED=false
UPLOAD_DIR=./uploads
WORKER_SECRET=change_me
WORKER_MODE=server
COMFYUI_URL=http://127.0.0.1:8188
WORKER_SERVER_URL=http://localhost:3025
WORKER_NAME=home-4070ti
WORKER_CONCURRENCY=1
